@font-face {
    font-family: "IRANSansWeb";
    src: url("../../public/fonts/IRANSansWeb(FaNum)/IRANSansWeb(FaNum).ttf");
  }
body{
    font-family: 'IRANSansWeb' !important;
    background-color: #ffffff;
    direction: rtl;
    margin-left: 64px !important;
    margin-right: 62px !important;
    max-width: 1366px;
    margin: auto !important;
    overflow: hidden;
}