@font-face {
    font-family: "IRANSansWeb";
    src: url("../../public/fonts/IRANSansWeb(FaNum)/IRANSansWeb(FaNum).ttf");
  }
body{
    font-family: 'IRANSansWeb' !important;
    background-color: #ffffff;
    direction: rtl;
    margin-left: 62px;
    margin-right: 67px;
}