@font-face {
    font-family: "IRANSansWeb";
    src: url("/fonts/IRANSansWeb(FaNum)/IRANSansWeb(FaNum).ttf");
  }
body{
    font-family: 'IRANSansWeb';
    background-color: #ffffff;
    direction: rtl;
    margin-left: 62px;
    margin-right: 67px;
}