.titleSellers{
    font-size: 18px;
    color: #111111;
    margin-top: 16px;
}
.rectangleSellers{
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    height: 98px;
}
.storeTitle{
    font-size: 18px;
    color: #111111;
}
.warrantyTitle{
    font-size: 16px;
    color: #111111;

}

.starIcon{
    color:  #FFCE31;
}
.priceText{
    font-size: 24px;
    color: #111111;
}